#messages
{
    display:-webkit-flex;
    display: flex;
    flex-direction: column-reverse;
    -webkit-flex-direction: column-reverse;
    margin: 0;
    padding: 0;
}

#messages > .message
{
    margin: 5px 10px;
    padding: 0px;
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.message > .title
{
/*    font-size:10px;*/
    text-align: right;
    color: hsl(0, 0%, 46%);
}

.message > .content
{
    background: hsl(240, 100%, 97%);
    padding: 5px;
}

*
{
/*    font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;*/
    font-size:16px;
    color: hsl(0, 0%, 10%);
}

body
{
    padding: 0;
    margin: 0;
    background: hsl(240, 100%, 99%);
}

.nil
{
    font-style:italic;
    color:rgb(255,128,128);
}

.unprintable
{
    color:rgb(198, 73, 73);
}

x, y
{
    display: block;
}

x
{
    background: rgba(0,0,0,0.02);
}

x x, x y
{
    margin-left: 20px;
}

#classColors
{
    padding: 10px;
    text-align: center;
}

/*#classColors > span*/
/*{*/
/*    width: 300px;*/
/*    text-align: center;*/
/*    display: inline-block;*/
/*    margin: 2px;*/
/*}*/

table, th, .object, dt
{
    font-weight: normal;
    background: rgba(0,0,0,0.07);
}

span.url
{
    font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
    font-size:14px;
    word-wrap: break-word;
}

button
{
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius:3px;
    text-decoration: none;
    cursor: pointer;
    border: none;
}

button:hover
{
    opacity: 0.6;
}

a.download
{
    text-decoration: none;
    font-size:14px;
    padding: 0 5px;
}
